html{
    font-family: 'Cinzel', serif;
}

.header{
    text-align: center;
    margin: auto;
    background-color: #010326;
    color: #3F83BF;
}

.header_logo{
    width: 13em;
    height: auto;
}

#hamburguer{
    background-color: #291c1a;
    color: #fff;
    display: block;
    text-align: center;
    padding: 0.3em;
    cursor: pointer;
    font-size: 2em;
}

.header_nav{
    background-color: #010326;
    display: none;
}

.header_nav.show {
    display: block;
}


ul{
    margin: 0;
}

.header_nav ul{
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 1em;
    font-family: 'Cinzel', serif;
    color: black;
}

.header_nav a{
    background-color: #291c1a;
    text-decoration: none;
    display: block;
    padding: .7em;
    color: #fff;
    font-weight: 800;
}

.header_nav a:hover{
    background-color: color-mix(in srgb, #0511F2, #fff 60%);
    color: #0D0D0D;
}

@media screen and (min-width: 48em){/*768px maior que*/
    #hamburguer{
        display: none;
    }

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #010326;
    }

    .header_logo{
        margin-left: 2em;
    }

    .header_nav{
        display: block;
    }

    .header_nav ul{
        margin-right: 2em;
        font-size: .9em;
    }

    .header_nav li{
        display: inline-block;
    }

    .header_nav a{
        border-radius: 5px;
        background-color: #0511F2;
    }

    .header_nav a:hover{
        background-color: #010329;
        color: #ffffff;
    }

    .header{
        text-align: center;
        margin: auto;
        background-color: #010326;
    }
}

.fundo_main{
    background-image: url(img/fundo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 110vh;
}

.fundo_main div{
    text-align: center;
    margin: auto;
}


.maxWidth{
    max-width: 90em;/*1440px*/
    position: relative;
}

.botao{
    display: inline-block;
    margin-top: 14em;
    padding: 1em 2em;
    background-color: rgba(19, 8, 168, 0.651);
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.5rem;
}

.botao:hover{
    color: #211715;
    background-color: rgba(96, 190, 221, 0.199);
    font-weight: 900;
}

footer{
    background-color: #010326;
    text-align: center;
    color: #3F83BF;
}

.div_footer{
    display: flex;
    justify-content: center;
}

.div_footer img{
    width: 2.5rem;
    padding: 1em .4em;
    align-items: center;
}